doctype html
html
	head
		title=title
		script(src='js/bootstrap.min.js')
		
		link(rel='stylesheet' href='/css/bootstrap.min.css')
		link(rel='stylesheet' href='/css/style.css')
	body
		div(class='container')
			header
				h1(class='unc-green-text')='UNC Charlotte'
			h1='The owner has been notifed. Thank you.'
			h2=name
			h2=email